# /etc/systemd/system/docker-compose-app.service

[Unit]
Description=PacMon Service
Requires=docker.service
After=docker.service

[Service]
User=rjl
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/srv/home_monitoring
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
